[submodule "site-lisp/snails"]
	path = site-lisp/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "site-lisp/smart-align"]
	path = site-lisp/smart-align
	url = https://github.com/manateelazycat/smart-align.git
